<footer class="row">
<div class="large-12 columns"><hr/>
  <div class="row">

    <div class="large-6 columns">
    </div>

    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="https://github.com/trendwithin/thundrs">View this project on Github</a></li>
      </ul>
    </div>

  </div>
</div>
</footer>
