<div class="row">
<div class="panel callout radius splash">
  <center>Remeber that time back when?</center>
<center>  <%= image_tag("replacements.jpeg", :alt => "rss feed") %> </center>
<center> Someone just might have footage if you don't </center>
</div>
</div>
