<div class="row">
  <div class="panel callout radius">
    <center>Remember that time back when?</center>
    <center>  <%= image_tag("replacements.jpeg", :alt => "replacements") %> </center>
    <center> Someone just might have footage if you don't </center>
  </div>

  <div class="panel callout radius">
   <div class="row">
     <div class="small medium-4 columns">
     Simply snap an image of a momento or keep sake, give a description,
     <%= image_tag 'http://lorempixel.com/400/400/' %>
      </div>
      <div class="small medium-4 columns">
         Share a Story Behind It.
         <%= image_tag 'http://lorempixel.com/400/400/' %>
      </div>
      <div class="small medium-4 columns">
       Share an heirloom photo and someone may share a story
       with you.
       <%= image_tag("kid.jpg", :alt => "kid") %>
       email@xyz.com says: My great-grandfather fought your
       great grandfather, let me share an image of the 3rd
       round with you.
      </div>
    </div>
  </div>
</div>
