<div class="row">
  <div class="panel callout radius">
    <center><h4>Remember that time back when?</h4></center>
    <span data-tooltip aria-haspopup="true" class="has-tip" title="Thundrs:
    A place to share stories inspried by memories of the past captured
    through images of the present.">
      <center>  <%= image_tag("replacements.jpeg", :alt => "replacements") %> </center>
    </span>
    <center> <h4>Someone just might have footage if you don't</h4> </center>
  </div>

  <div class="panel callout radius">
   <div class="row">
     <div class="small medium-4 columns">
     <b>Upload an image of a favorite concert.</b>
     <%= image_tag("stage-in-purple-lights.jpg", :alt => "show") %>
     <em>This was one of my favorite shows of all time</em>
      </div>
      <div class="small medium-4 columns">
         <b>Share a Story.</b>
         <%= image_tag("vintage-toys.jpg", :alt => "vintage-toy") %>
         <em>This was my favorite toy from my grandmother.  It use
         to keep me company when I was a child but I've since outgrown
         it.</em>
      </div>
      <div class="small medium-4 columns">
       <b>Get a story back.</B>
       <%= image_tag("kid.jpg", :alt => "kid") %>
       <b>email@xyz.com says:</b> <em>My great-grandfather boxed your
       great-grandfather.  I'll find it and send you an image of the 3rd
       round.</em>
      </div>
    </div>
  </div>
</div>
